<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--单元测试不记录日志-->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <!--包含SpringBoot的默认配置文件-->
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <!-- mybaits日志的级别，这里的name是mybatis的mapper接口要打印SQL语句的包名，如果要打印多个包的mapper就多配置几个logger -->
    <logger name="com.gaozhao.app_dao" level="DEBUG"/>
</configuration>